extends layouts/main-layout.pug

block content 
    if !profileUser
        span.errorMessage Check if url is good
    else 
        .profileHeaderContainer 
            .coverPhotoContainer 

                .userImageContainer     
                    img(src=profileUser.profilePic, alt="User profile pic")
            .profileButtonContainer
                if profileUser._id != userLoggedIn._id 
                    a.profileButton(href=`/messages/${profileUser._id}`)
                        i.fas.fa-envelope
                    +createFollowButton(profileUser, true)
            .userDetailsConatainer  
                span.displayName #{profileUser.firstName} #{profileUser.lastName}
                span.username #{profileUser.userName}
                span.description #{profileUser.description}
                .followersContainer
                    a(href=`profile/${profileUser.userName}/following`) 
                        span.value #{0}
                        span Following
                    a(href=`profile/${profileUser.userName}/folowers`) 
                        span.value #{0}
                        span Followers
        .postContainer
        .tabsContainer
            +createTab("Posts", `/profile/${profileUser.userName}`, true)
            +createTab("Replies", `/profile/${profileUser.userName}/replies`, false)
        +createPostmodals(userLoggedIn)
block scripts 
    script(src="/js/profile.js")